<!DOCTYPE html>
{%load static%}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/Scenario2/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Scenario1/style.css' %}">
</head>
<body style="background-color:black;">
    <div class="main-back" style="background: url('{%static 'images/pattern.png' %}') no-repeat; background-size: 100% 100%;">
        <div class="logo">
          <img id="logoButton" src="{% static 'images/logo_white.png' %}">
        </div>


        <div class="content">

            <div class="content-align-center">
              <a href="../Scenario3/index.html" class="button">Демонстрация изменения мощности</a>
      
              <a href="../Scenario4/index.html" class="button">Демонстрация аварии – обесточивания ЯППУ</a>
            </div>
            <div class="return">
                <input id="returnButton" type="image" src="{% static 'images/backButton.png' %}" onclick="history.back()"/>
            </div>
        </div>
    </div>
</body>
</html>
