body {
  color: white;
  font-family: Rosatom;
  font-size: 30px;
  display: grid;
  grid-template-columns: 300px 1fr 250px;
}

.split {
  height: 100%;
  width: 30%;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  overflow-x: hidden;
}

.left {
  width: 70%;
  left: 0%;
  top: 0%;
}

.right {
  width: 30%;
  right: 0;
  top: 0%;
}

.up {
  position: fixed;
  height: 90%;
  top: 0%;
  overflow-y: scroll;
}

.down {
  position: fixed;
  height: 10%;
  bottom: 0%;
}


.centered {
  text-align: center;
  vertical-align: top;
}

.centered img {
  width: 90%;
}

#myVideo {
  width: 90%;
  height: 100%;
  top: 0%;
  left: 0%;
  transform: none;
}

.main-text {
  top: 20%;
  left: 0%;
  color: #f1f1f1;
  width: 100%;
  padding: 5%;
}

#logoButton {
  position: absolute;
  width: 20%;
  top: 3%;
  left: 1%;
}

#nextButton {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10%;
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
}

#previousButton {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10%;
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;

}

#homeButton {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 90%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10%;
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
}

#menuButton {
  margin: 0;
  position: absolute;
  top: 30%;
  left: 10%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 10%;
  font-size: 18px;
  border: none;
  color: #fff;
  cursor: pointer;
}

* {box-sizing:border-box}