<!DOCTYPE html>
{%load static%}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/Scenario1/style.css' %}">
</head>
<body style="background-color:black;">

    <div class="split left" style="background: url('{%static 'images/pattern_mirrored.png' %}') no-repeat; 
      background-size: 100% 100%; 
      background-color: rgba(0, 50, 116, 0.8);
      background-blend-mode: darken;">
        <div class="centered">
            <div id="main">
                <div class="logo">
                    <img id="logoButton" src="{% static 'images/logo_white.png' %}">
                </div>
                <div class="main-text">
                    <p><h1>Обесточивание АЭС</h1></p>

                    <p>Система безопасности АЭС, в которую входят в том числе ёмкости САОЗ и СПЗАЗ, способна автоматически при необходимости остановить цепную реакцию и охладить топливо в реакторе без участия человека. В течение 72 часов (в ЯППУ с реактором ВВЭР-ТОИ) водный раствор борной кислоты будет самостоятельно поступать в активную зону реактора под действием гравитации.</p>

                </div>
            </div>
        </div>
    </div>

    <div class="split right" style="background-color: rgb(108, 172, 228);">
        <div class="split down">
            <audio autoplay>
                <source src="{% static 'media/avaria.mpeg' %}" type="audio/mpeg">
              </audio>
            <div class="return">
                <input id="homeButton" type="image" src="{% static 'images/home.png' %}" onclick="location.href='/Scenario2/index.html';"/>
            </div>
        </div>
    </div>
</body>
</html>
