<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/Demo/style.css' %}">

</head>
<body style="position: fixed;">

  <div class="main-back" style="background: url('{%static 'images/pattern.png' %}') no-repeat; background-size: 110% 100%;">
    <div class="logo">
      <img id="logoButton" src="{% static 'images/logo_white.png' %}">
    </div>

    <div class="content">
      <div class="content-header">
        <a>Выберите сценарий</a>
      </div>
      <div class="content-align-center">
        <a href="Demonstration/1.html" class="button">Оборудование ядерной паропроизводящей установки</a>

        <a href="Scenario2/index.html" class="button">Демонстрация устойчивой работы ЯППУ</a>
      </div>
  </div>

</body>
</html>