<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
<!--  <link rel="stylesheet" href="{% static 'css/Demo/Страница-2.css' %}" media="screen">-->
<!--  <link rel="stylesheet" href="{% static 'css/Demo/nicepage.css' %}" media="screen">-->
      <link rel="stylesheet" href="{% static 'css/Demo/style.css' %}">

</head>
<body>
  <section class="u">
    <a class="choose">Выберите сценарий</a>
    <div class="u-align-center">
      <a href="/Scenario1/index.html" class="button button1">Демонстрация групп оборудования</a>
      <a class="button button2">Демонстрация устойчивой работы ЯППУ</a>
    </div>
  </section>
  
  
  
</body></html>