<!DOCTYPE html>
{% load static %}
<html>
<head>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
<!--  <link rel="stylesheet" href="{% static 'css/Demo/Страница-2.css' %}" media="screen">-->
<!--  <link rel="stylesheet" href="{% static 'css/Demo/nicepage.css' %}" media="screen">-->
      <link rel="stylesheet" href="{% static 'css/Demo/style.css' %}">

</head>
<body style="position: fixed;">
<div style="background: url('{%static 'images/pattern.png' %}') no-repeat; background-size: 100% 100%;">
  <div class="u">
    <div style="text-align: center; top: 50px">
      <a>Выберите сценарий</a>
    </div>
    <div class="u-align-center">
      <a href="Demonstration/1.html" class="button button1">Оборудование ядерной паропроизводящей установки (ЯППУ)</a>
      <a class="button button2">Демонстрация устойчивой работы ЯППУ</a>
    </div>
</div>




</body></html>