<!DOCTYPE html>
{%load static%}
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/Scenario1/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Scenario3/range.css' %}">
</head>

<body style="background-color:black;">

    <div class="split left" style="background: url('{%static 'images/pattern_mirrored.png' %}') no-repeat; 
      background-size: 100% 100%; 
      background-color: rgba(0, 50, 116, 0.8);
      background-blend-mode: darken;">
        <div class="split up" style="width: 70%; height: 70%; overflow-y: hidden;">
            <div class="centered">
                <div id="main">
                    <div class="logo">
                        <img id="logoButton" src="{% static 'images/logo_white.png' %}">
                    </div>
                    <div class="main-text">
                        <p>
                        <h1>Изменение мощности</h1>
                        </p>

                        <p>Регулирование уровня мощности на атомных станциях осуществляется для установления равновесия 
                            с текущим энергопотреблением – в дневные часы потребление электроэнергии выше, а в ночные – ниже. 
                            Для управления мощностью АЭС применяются различные управляющие системы, в том числе перемещение 
                            стержней-поглотителей в активной зоне реактора.</p>

                        <p>Пожалуйста, обратите внимание на макет: чем большую мощность Вы задаёте на экране, тем большее энерговыделение происходит в активной зоне реактора, больше вырабатывается пара в парогенераторах и, в конечном итоге, больше вырабатывается электроэнергии.</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="split down" style="width: 70%; height: 30%; overflow-y: hidden;">
            <div class="main-text">
                <p>Уровень мощности</p>
                <input id="input-range" step="1" type="range" min="0" max="250" value="200">
            </div>
        </div>
    </div>

    <div class="split right" style="background-color: rgb(108, 172, 228)";>
        <div class="split down">
            <div class="content">
                <div class="return">
                    <input id="homeButton" type="image" src="{% static 'images/home.png' %}"
                        onclick="location.href='/Scenario2/index.html';" />
                </div>
            </div>
        </div>
    </div>
    <script>

        window.onload = function () {

            function serverRequest(value) {
                console.log(value);
                fetch(`http://192.168.2.202/?changePower&${value}&`)
            }

            var timer = null
            function inputHandler(event) {
                var value = event.target.value
                clearTimeout(timer);

                timer = setTimeout(() => {
                    serverRequest(value)
                }, 50)

            }

            var powerInput = document.getElementById('input-range');

            powerInput.addEventListener('input', inputHandler)
            powerInput.addEventListener('change', inputHandler)
        };

    </script>
</body>

</html>