<!DOCTYPE html>
{%load static%}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/Scenario2/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/Scenario1/style.css' %}">
</head>
<body style="background-color:black;">
    <div class="main-back" style="background: url('{%static 'images/pattern.png' %}') no-repeat; background-size: 100% 100%;">
        <div class="logo">
          <img id="logoButton" src="{% static 'images/logo_white.png' %}">
        </div>
    
        <p style="color:white;font-size:40px;">Демонстрация изменения мощности</p>

        <div class="content">
            <div>
                Уровень мощности
                <input id="input-range" type="range" min="0" max="100" value="35">
            <div class="return">
                    <input id="returnButton" type="image" src="{% static 'images/backButton.png' %}" onclick="history.back()"/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
